body{
    background-color: rgb(202, 229, 252);
    font-family: "Comfortaa", sans-serif;
}

header {
    background-color: hsla(0, 0%, 100%, .3);
    backdrop-filter: blur(15px) saturate(86%);
    border-radius: 16px;
    padding: 1px 1px 1px 20px;
    margin: 10px;
}

.navbar-brand, 
.navbar-brand:hover, 
.nav-link,
.nav-link:hover{

    color: black;

}


.dashboard-outline-block{
    padding: 10px;
}


.dashboard-inner-block{
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 100%, .3);
    backdrop-filter: blur(15px) saturate(86%);
    border-radius: 16px;
    padding: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.page-path{
    display: flex;
    width: 100%;
    background-color: hsla(0, 0%, 100%, .3);
    backdrop-filter: blur(15px) saturate(86%);
    border-radius: 16px;
    padding: 10px;
    padding-left: 20px;
    margin-bottom: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
}

.page-path a{
    padding: 0px 10px ;
    color: black;
    border-radius: 10px;
    margin: 0px 5px;
}

.page-path a:hover{
    background-color: rgba(0, 0, 0, 0.24);
    text-decoration: none;
}


.django-form input, 
.django-form select, 
.django-form input::file-selector-button, 
.django-form textarea
{
    border: none;
    padding: 6px 9px;
    border-radius: 7px;
    width: 219px;
}

.django-form input::file-selector-button, .django-form input[type="file"]{
    width: auto;
}



.django-form textarea{
    width: 100%
}


.django-form label{
    display: block;
    font-size: small;
    margin: 0;
}

.django-form-inline{
    display: ruby;
}


.django-form .helptext{
    color: rgb(141, 141, 141);
    display: block;
    font-size: small;
}


.id_label{
    color: rgb(56, 56, 56);
}