{% extends "admin_base.html" %} 
{% block title %}Management Dashboard | {{ item }} {% endblock%} 
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12 dashboard-outline-block">
            <div class="page-path">
                <a href="{% url 'production_dashboard' %}">Production</a>
                >
                <a href="{% url 'products_management_view' %}">Products</a>
                >
                <a href="{% url 'edit_product' item.product.pk %}">{{ item.product }}</a>
                >
                <a href="{% url 'edit_item' item.pk %}">{{ item }}</a>
            </div>
            <div class="dashboard-inner-block">
                <h2>Product <sub class="id_label">#{{ item.pk }}</sub></h2>
                <hr />
                <form class="django-form" method="post"
                    enctype="multipart/form-data">
                    {% csrf_token %} {{ edit_form.as_p }}

                    <hr />
                    <h3>Online shop references</h3>
                    <div id="referenceLinks">
                        <!-- Dynamic divs with inputs will be added here -->
                    </div>
                    <br>
                    <button type="button" id="addButton" class="btn btn-success">+</button>
                    <input
                        type="hidden"
                        id="id_online_shop"
                        name="online_shop"
                        value="{}" />

                    
                    <hr />
                    <button type="submit" name="post_type" class="btn btn-success" value="edit">Save</button>
                    <hr />
                </form>
                <form  class="django-form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="alert alert-success" role="alert"> Registered</div>
                    <div class="alert {% if item.preduced %}  alert-success {% else %} alert-secondary {% endif %}" role="alert"> Produced</div>
                    <div class="alert {% if item.selled %}  alert-success {% else %} alert-secondary {% endif %}" role="alert"> Sold</div>

                    {% if not item.preduced %}
                        <button class="btn btn-success" type="submit" name="post_type" value="set_as_preduced">Set as preduced</button>

                    {% else %} 
                        {% if not item.selled %}
                        <button class="btn btn-success" type="submit" name="post_type" value="set_as_sold">
                            Set as sold
                        </button>
                        <input
                            type="number"
                            name="sold_price"
                            id="sold_price"
                            value="{{ edit_form.first_offer_price.value }}" />
                        {% endif %} 
                    {% endif %}
                    
                </form>
                <hr />
                <h2>Product photos</h2>
                <div class="list-group " style="padding-top: 20px;">
                    {% for image in item.images.all %}
                    <form method="POST" class="django-form list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                        {% csrf_token %}
                        <div>
                            <img src="{{ image.image.url }}" alt="{{ image.caption }}" style="height: 40px;display: inline-block;" />
                            <p style="display: inline-block;">{{ image.description }}</p>
                        </div>
                        <a href="{{ image.image.url }}" class="btn btn-primary" style="color: aliceblue;">
                            view
                        </a>
                        <button type="submit" name="post_type" value="delete_image" class="btn btn-danger">
                            delete
                        </button>
                        <input type="hidden" name="image_id"
                            value="{{ image.pk }}" />
                    </form>
                    {% endfor %}
                </div>
                <hr>
                <form method="post" enctype="multipart/form-data"
                    class="django-form">
                    <h3>New photo</h3>
                    {% csrf_token %}
                    <div style="display: none">{{ image_form.item }}</div>

                    {{ image_form.image }} {{ image_form.description }}
                    <button type="submit" name="post_type" value="add_image" class="btn btn-success">
                        Upload
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
      const referenceLinksDiv =
        document.getElementById("referenceLinks");
      const hiddenInput = document.getElementById("id_online_shop");
      const addButton = document.getElementById("addButton");

      // Function to update hidden input with JSON value
      function updateHiddenInput() {
        const links = {};
        const divs =
          referenceLinksDiv.querySelectorAll(".reference-div");
        divs.forEach((div) => {
          const websiteInput = div.querySelector(".website-name");
          const urlInput = div.querySelector(".website-url");
          if (websiteInput.value && urlInput.value) {
            links[websiteInput.value] = urlInput.value;
          }
        });
        hiddenInput.value = JSON.stringify(links);
        console.log(hiddenInput.value);
      }

      // Function to create a new reference div
      function createReferenceDiv(websiteName = "", websiteURL = "") {
        const div = document.createElement("div");
        div.classList.add("reference-div");

        const websiteInput = document.createElement("input");
        websiteInput.type = "text";
        websiteInput.classList.add("website-name");
        websiteInput.placeholder = "Website Name";
        websiteInput.value = websiteName;
        websiteInput.addEventListener("input", updateHiddenInput);

        const urlInput = document.createElement("input");
        urlInput.type = "url";
        urlInput.classList.add("website-url");
        urlInput.placeholder = "Website URL";
        urlInput.value = websiteURL;
        urlInput.addEventListener("input", updateHiddenInput);

        const deleteButton = document.createElement("button");
        deleteButton.type = "button";
        deleteButton.textContent = "Delete";
        deleteButton.classList = "btn btn-danger";
        deleteButton.addEventListener("click", function () {
          div.remove();
          updateHiddenInput();
        });

        div.appendChild(websiteInput);
        div.appendChild(urlInput);
        div.appendChild(deleteButton);
        referenceLinksDiv.appendChild(div);
      }

      // Add a new reference div when the add button is clicked
      addButton.addEventListener("click", function () {
        createReferenceDiv();
      });

      // Initial call to update the hidden input in case there are predefined values
      updateHiddenInput();
      function populateInitialData(initialData) {
        for (const [websiteName, websiteURL] of Object.entries(
          initialData
        )) {
          createReferenceDiv(websiteName, websiteURL);
        }
        updateHiddenInput(); // Update hidden input with initial data
      }

      populateInitialData(
        JSON.parse("{{ edit_form.online_shop.value|escapejs }}")
      );
    });
</script>
{% endblock %}
